* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #24CC63;
  color: white;
  z-index: 1000;
}


body {
  --sb-track-color: #fafafa;
  --sb-thumb-color: #252525;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}